<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>Zealous Guacamole</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<link
	href="http://cdn.jsdelivr.net/webjars/bootstrap/3.2.0/css/bootstrap.min.css"
	th:href="@{/webjars/bootstrap/3.2.0/css/bootstrap.min.css}"
	rel="stylesheet" media="screen" />
<script src="http://cdn.jsdelivr.net/webjars/jquery/2.1.1/jquery.min.js"
	th:src="@{/webjars/jquery/2.1.1/jquery.min.js}"></script>
</head>
<body>
	<!-- Header -->
	<div th:replace="header :: header" ></div>
	<div class="container-fluid">
		<div class="row">
			<div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
				<h1 class="page-header">Dashboard</h1>
				<h2 class="sub-header">Section title</h2>
				<div class="table-responsive">
					<table class="table table-striped">
						<thead>
							<tr>
								<th>#</th>
								<th>Header</th>
								<th>Header</th>
								<th>Header</th>
								<th>Header</th>
							</tr>
						</thead>
						<tbody>
							<tr>
								<td>1,001</td>
								<td>Lorem</td>
								<td>ipsum</td>
								<td>dolor</td>
								<td>sit</td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>
		</div>
	</div>
</body>
</html>