<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>Zealous Guacamole</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<link
	href="http://cdn.jsdelivr.net/webjars/bootstrap/3.2.0/css/bootstrap.min.css"
	th:href="@{/webjars/bootstrap/3.2.0/css/bootstrap.min.css}"
	rel="stylesheet" media="screen" />
<script src="http://cdn.jsdelivr.net/webjars/jquery/2.1.1/jquery.min.js"
	th:src="@{/webjars/jquery/2.1.1/jquery.min.js}"></script>
<script
	src="http://cdn.jsdelivr.net/webjars/bootstrap/3.2.0/js/bootstrap.min.js"
	th:src="@{/webjars/bootstrap/3.2.0/js/bootstrap.min.js}"></script>
</head>
<body>
	<!-- Header -->
	<div th:replace="header :: header"></div>
	<div class="container-fluid">
		<div class="row">
			<div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
				<h1 class="page-header" th:text="${village.getName()}">Village
					name</h1>
				<h2 class="sub-header"
					th:text="${'Population '+village.getPopulation()}">Village
					population</h2>
				<h2 class="sub-header">Storage</h2>
				<div class="table-responsive">
					<table class="table table-striped">
						<thead>
							<tr>
								<th>Type</th>
								<th>Size</th>
							</tr>
						</thead>
						<tbody>
							<tr th:each="stor : ${village.getStorage()}">
								<td th:text="${stor.getType().getName()}">1,001</td>
								<td th:text="${stor.getSize()}">Lorem</td>
							</tr>
						</tbody>
					</table>
				</div>

				<h2 class="sub-header">Production</h2>
				<div class="table-responsive">
					<table class="table table-striped">
						<thead>
							<tr>
								<th>Type</th>
								<th>Size</th>
							</tr>
						</thead>
						<tbody>
							<tr th:each="prod : ${village.getProduction()}">
								<td th:text="${prod.getType().getName()}">1,001</td>
								<td th:text="${prod.getSize()}">Lorem</td>
							</tr>
						</tbody>
					</table>
				</div>

				<h2 class="sub-header"
					th:text="${'Caravans to '+ village.getName()}">Caravans to</h2>
				<div class="table-responsive">
					<table class="table table-striped">
						<thead>
							<tr>
								<th>From</th>
								<th>Days travelled of total</th>
								<th>Type</th>
								<th>Size</th>
							</tr>
						</thead>
						<tbody>
							<tr th:each="caravan : ${toCaravans}">
								<td th:text="${caravan.getFrom().getName()}">1,001</td>
								<td th:text="${caravan.getDaysTravelled()}">Lorem
									${caravan.getDaysTravelled() +' of '+
									"${distanceBetween(caravan.getFrom(), caravan.getTo())}"</td>
								<td th:text="${caravan.getResource().getName()}">1,001</td>
								<td th:text="${caravan.getResource().getSize()}">1,001</td>
							</tr>
						</tbody>
					</table>
				</div>
				<h2 class="sub-header"
					th:text="${'Caravans from '+ village.getName()}">Caravans from</h2>
				<div class="table-responsive">
					<table class="table table-striped">
						<thead>
							<tr>
								<th>To</th>
								<th>Days travelled of total</th>
								<th>Type</th>
								<th>Size</th>
							</tr>
						</thead>
						<tbody>
							<tr th:each="caravan : ${fromCaravans}">
								<td th:text="${caravan.getTo().getName()}">1,001</td>
								<td th:text="${caravan.getDaysTravelled()}">something</td>
								<td th:text="${caravan.getResource().getName()}">1,001</td>
								<td th:text="${caravan.getResource().getSize()}">1,001</td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>
		</div>
	</div>
</body>
</html>