<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>Zealous Guacamole</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<link
	href="http://cdn.jsdelivr.net/webjars/bootstrap/3.2.0/css/bootstrap.min.css"
	th:href="@{/webjars/bootstrap/3.2.0/css/bootstrap.min.css}"
	rel="stylesheet" media="screen" />
<script src="http://cdn.jsdelivr.net/webjars/jquery/2.1.1/jquery.min.js"
	th:src="@{/webjars/jquery/2.1.1/jquery.min.js}"></script>
<script
	src="http://cdn.jsdelivr.net/webjars/bootstrap/3.2.0/js/bootstrap.min.js"
	th:src="@{/webjars/bootstrap/3.2.0/js/bootstrap.min.js}"></script>
</head>
<body>
	<!-- Header -->
	<div th:replace="header :: header"></div>
	<div class="container-fluid">
		<div class="row">
			<div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
				<h1 class="page-header">Villages</h1>
				<h2 class="sub-header">Villages table</h2>
				<div class="table-responsive">
					<table class="table table-striped">
						<thead>
							<tr>
								<th>Village id</th>
								<th>Name</th>
								<th>Population</th>
							</tr>
						</thead>
						<tbody>
							<tr th:each="village : ${villages}">
								<td th:text="${village.getId()}">1,001</td>
								<td th:text="${village.getName()}">Lorem</td>
								<td th:text="${village.getPopulation()}">ipsum</td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>
		</div>
	</div>
</body>
</html>